body{
    background-color: #C2DED1;
  }

  hr{
    width: 6%;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: gray;
  }

  h1,h3 {
    color: #3AB0FF;
  }